.counter-box {
    background: linear-gradient(to bottom, rgba(10, 83, 190, 1) 10%, rgba(10, 83, 190, 0) 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 20%;
    border-radius: 15px;
    padding: 1rem 1rem;
}
.col-sm-4 [input]{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.1em;
    color: white;
    background-color: transparent;
}

.btn-primary {
    position: relative;
    width: 6rem;
    height: 2rem;
    border-radius: .5rem;
    margin: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.25);
    border: none;
    color: white;
    transition: 0.2s;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.2s;
}

.count-stats {
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
}

h2 {
    padding-top: 1rem;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

p {
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
}